.footer {
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
  bottom: 0;
  background-color: grey;
  height: 4em;
  width: 100%;
}

.footerTexto {
	color: white;
}
